@page "/"
@layout MainLayout
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrderState

<div class="main">
<h1>Welcome to the Periodic Table of Elements Teacher</h1>
<ol>
    <li> Learn as many words as you can within the time limit.</li>
    <li> Please only take the quiz one time.</li>
    <li>Please do not discuss the experience with others.</li>  
</ol>

    @if (!OrderState.gameFinished)
    {
        <p>What is your name?</p>
        <input type="text" @bind-value="name" />
        <button class="checkout-button btn btn-warning" @onclick="StartQuiz">
        Start quiz
        </button>
    } else
    {
        <h2>Thank you for participating.</h2>
        <h3>You learned @OrderState.game.TotalMastered() elements.</h3>
    }


</div>

@if (OrderState.ShowingConfigureDialog)
{
    <!--QuizDialog Question="game.Question"
            OnCancel="OrderState.CancelConfigurePizzaDialog"
            OnConfirm="OrderState.ConfirmConfigurePizzaDialog" /-->


    <QuizDialog
      Question="OrderState.Question"
      OnCancel="OrderState.CancelConfigurePizzaDialog"
      OnConfirm="OrderState.ConfirmConfigurePizzaDialog"
      OnKeyDown="OrderState.OnKeyDown"
      Game="OrderState.game"
      GameOver="OrderState.GameOver"
      />

}

@if (OrderState.ShowingResponseDialog)
{
    <!--QuizDialog Question="game.Question"
            OnCancel="OrderState.CancelConfigurePizzaDialog"
            OnConfirm="OrderState.ConfirmConfigurePizzaDialog" /-->


    <ResponseDialog
      Question="OrderState.Question"
      OnCancel="OrderState.CancelConfigurePizzaDialog"
      OnConfirm="OrderState.ConfirmConfigurePizzaDialog"
      OnKeyDown="OrderState.OnKeyDown"
      Game="OrderState.game"
      />

}


@code {

    public string name;
    

    protected override async Task OnInitializedAsync()
    {


    }

    protected async Task StartQuiz()
    {
        OrderState.ShowQuizDialog();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) //TODO: don't think this needs to be its own function
    {
        if (firstRender)
        {
            OrderState.game = new GameManager();
            OrderState.game.NextQuestion();
            OrderState.Question = OrderState.game.Question;
        }

        if (OrderState.gameFinished)
        { await StoreGame();
            OrderState.gameFinished = false;
        }



    }

        async Task StoreGame()
        {
            GameResult result = new GameResult();
            result.Name = name;
            result.Mastered = OrderState.game.TotalMastered();
            result.GameMode = OrderState.game.POSITIVE_MODE;
            var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "game", result);
            var newOrderId = await response.Content.ReadFromJsonAsync<int>();
        }


}
		