@page "/"
@layout MainLayout
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using PTOEQuiz.Services;
@inject QuizState QuizState


<div class="main">
<h1>Welcome to the Periodic Table of Elements Teacher</h1>
<ol>

    <li>Learn as many elements as you can within the time limit.</li>
    <li>Please only take the quiz one time.</li>
    <li>Please do not discuss the experience with others who have not taken the quiz.</li> 
        <li>
            Please make sure your computer sound is working.
        </li>
</ol>
    <audio src="/sound/Imagination-AShamaluevMusic.mp3" autoplay controls />
    
    @if (!QuizState.QuizFinished)
    {
        <h3>What is your name?</h3>
        <input type="text" @bind-value="name" />
        @if (name != "")
        {
            <button class="checkout-button btn btn-warning" @onclick="StartQuiz">
                Start quiz
            </button>
        }
   
    } else
    {
        <h2>Thank you for participating.</h2>
        <h3>You learned @QuizState.Quiz.TotalMastered() elements.</h3>
    }

</div>

@if (QuizState.ShowingConfigureDialog)
{

    <QuizDialog
      Question="QuizState.Question"
      Quiz="QuizState.Quiz"
      QuizOver="QuizState.QuizOver"
      />

}


@code {

    public string name = "";

    protected async Task StartQuiz()
    {
        QuizState.ShowQuizDialog();

        await Task.Yield();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        if (firstRender)
        {
            QuizState.Quiz = new ElementQuiz();
            QuizState.Quiz.NextQuestion();
            QuizState.Question = QuizState.Quiz.Question;
        }

        if (QuizState.QuizFinished)
        { await StoreQuiz();
            QuizState.QuizFinished = false;
        }

    }

        async Task StoreQuiz()
        {
            QuizResult result = new QuizResult();
            result.Name = name;
            result.Mastered = QuizState.Quiz.TotalMastered();
            result.QuizMode = QuizState.Quiz.POSITIVE_MODE;
            var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "Quiz", result);
            var newOrderId = await response.Content.ReadFromJsonAsync<int>();
        }


}
		